<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mangactiv</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css" />
    <!-- Boxicons -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
  </head>
  <body>
    <!-- Navbar Start -->
    <header>
      <a href="" id="logo">Mangactiv</a>
      <ul class="navbar">
        <li>Home</li>
        <li>Login</li>
        <li>My Library</li>
        <li>All Mangas</li>
        <li>Donate</li>
        <li>Logout</li>
      </ul>
      <div class="bx bx-menu" id="menu-icon"></div>
    </header>
    <!-- Navbar End -->

    <!-- Login Start -->
    <!-- <section class="login">
      <div class="login-content">
        <h2>Login</h2>
        <form id="login-form">
          <label for="login-email">Email</label>
          <input
						type="email"
						id="login-email"
						placeholder="Enter email address ..."
						autocomplete="off"
						required
					/>
          <label for="login-password">Password</label>
          <input
						type="password"
						id="login-password"
						placeholder="Enter password ..."
						autocomplete="off"
						required
					/>
          <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="#">Register here</a></p>
        <p>Or login with</p>
      </div>
    </section> -->
    <!-- Login End -->

    <!-- Register Start -->
    <!-- <section class="register">
      <div class="register-content">
        <h2>Register</h2>
        <form id="register-form">
          <label for="register-username">Username</label>
					<input
						type="text"
						id="register-username"
						placeholder="Enter username ..."
						autocomplete="off"
						required
					/>
          <label for="register-email">Email</label>
          <input
						type="email"
						id="register-email"
						placeholder="Enter email address ..."
						autocomplete="off"
						required
					/>
          <label for="register-password">Password</label>
          <input
						type="password"
						id="register-password"
						placeholder="Enter password ..."
						autocomplete="off"
						required
					/>
          <button type="submit">Register</button>
        </form>
      </div>
    </section> -->
    <!-- Register End -->

    <!-- Donation Start -->
    <!-- <section class="donation">
      <div class="donation-content">
        <h2>Donate Now</h2>
        <form id="donation-form">
          <label for="donation-name">Name</label>
					<input
						type="text"
						id="donation-name"
						placeholder="Enter name ..."
						autocomplete="off"
						required
					/>
          <label for="donation-email">Email</label>
          <input
						type="email"
						id="donation-email"
						placeholder="Enter email address ..."
						autocomplete="off"
						required
					/>
          <div class="donation-box">
            <label>Choose Amount</label><br>
            <button type="submit" name="donation" value="10000">Rp 10.000</button>
            <button type="submit" name="donation" value="20000">Rp 20.000</button>
            <button type="submit" name="donation" value="50000">Rp 50.000</button>
            <button type="submit" name="donation" value="100000">Rp 100.000</button>
          </div>
          <label for="donation-money">Other</label>
					<input
						type="text"
						id="donation-money"
						placeholder="Enter money ..."
						autocomplete="off"
					/>
          <button type="submit">Donate</button>
        </form>
      </div>
    </section> -->
    <!-- Donation End -->

    <!-- Hero Section Start -->
    <!-- <section class="hero">
      <div class="hero-content">
        <h1>Mangadex API Reading Sites</h1>
        <img src="https://images5.alphacoders.com/128/1284718.jpg" alt="" />
      </div>
    </section> -->
    <!-- Hero Section End -->

    <!-- Popular Section Start -->
    <!-- <section class="popular">
      <h1>Popular Titles</h1>
      <div class="popular-content">
        <div class="card">
          <div class="left-card">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right-card">
            <div class="right-card-content">
              <div class="genres">
                <span>Comedy</span>
                <span>Romance</span>
              </div>
              <div class="title-desc">
                <h4>Damedol to Sekai ni Hitori Dake no Fan</h4>
                <p>
                  "Urumin" is an idol, but she can't sing or dance well, and she got a dishonest character. Kimiya is the only fan in the world who likes her. The relationship between the two of them is a little different from the usual
                  relationships between idols and fans! This is a "precious" love comedy that depicts the daily life of a bad idol and the man who keeps on promoting her, and the way he loves her!
                  "Urumin" is an idol, but she can't sing or dance well, and she got a dishonest character. Kimiya is the only fan in the world who likes her. The relationship between the two of them is a little different from the usual
                  relationships between idols and fans! This is a "precious" love comedy that depicts the daily life of a bad idol and the man who keeps on promoting her, and the way he loves her!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="left-card">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right-card">
            <div class="right-card-content">
              <div class="genres">
                <span>Comedy</span>
                <span>Romance</span>
              </div>
              <div class="title-desc">
                <h4>Damedol to Sekai ni Hitori Dake no Fan</h4>
                <p>
                  "Urumin" is an idol, but she can't sing or dance well, and she got a dishonest character. Kimiya is the only fan in the world who likes her. The relationship between the two of them is a little different from the usual
                  relationships between idols and fans! This is a "precious" love comedy that depicts the daily life of a bad idol and the man who keeps on promoting her, and the way he loves her!
                  "Urumin" is an idol, but she can't sing or dance well, and she got a dishonest character. Kimiya is the only fan in the world who likes her. The relationship between the two of them is a little different from the usual
                  relationships between idols and fans! This is a "precious" love comedy that depicts the daily life of a bad idol and the man who keeps on promoting her, and the way he loves her!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!-- Popular Section End -->

    <!-- latest Section Start -->
    <!-- <section class="latest">
      <h1>Latest Updates</h1>
      <div class="latest-content">
        <div class="card">
          <div class="left-card">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right-card">
            <div class="genres">
              <span>Comedy</span>
              <span>Romance</span>
            </div>
            <div class="title">
              <h4>Damedol to Sekai ni Hitori Dake no Fan</h4>
            </div>
            <p>Chapter 1</p>
            <h5>Kirishimo</h5>
          </div>
        </div>
        <div class="card">
          <div class="left-card">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right-card">
            <div class="genres">
              <span>Comedy</span>
              <span>Romance</span>
            </div>
            <div class="title">
              <h4>Damedol to Sekai ni Hitori Dake no Fan</h4>
            </div>
            <p>Chapter 1</p>
            <h5>Kirishimo</h5>
          </div>
        </div>
        <div class="card">
          <div class="left-card">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right-card">
            <div class="genres">
              <span>Comedy</span>
              <span>Romance</span>
            </div>
            <div class="title">
              <h4>Damedol to Sekai ni Hitori Dake no Fan</h4>
            </div>
            <p>Chapter 1</p>
            <h5>Kirishimo</h5>
          </div>
        </div>
        <div class="card">
          <div class="left-card">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right-card">
            <div class="genres">
              <span>Comedy</span>
              <span>Romance</span>
            </div>
            <div class="title">
              <h4>Damedol to Sekai ni Hitori Dake no Fan</h4>
            </div>
            <p>Chapter 1</p>
            <h5>Kirishimo</h5>
          </div>
        </div>
        <div class="card">
          <div class="left-card">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right-card">
            <div class="genres">
              <span>Comedy</span>
              <span>Romance</span>
            </div>
            <div class="title">
              <h4>Damedol to Sekai ni Hitori Dake no Fan</h4>
            </div>
            <p>Chapter 1</p>
            <h5>Kirishimo</h5>
          </div>
        </div>
        <div class="card">
          <div class="left-card">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right-card">
            <div class="genres">
              <span>Comedy</span>
              <span>Romance</span>
            </div>
            <div class="title">
              <h4>Damedol to Sekai ni Hitori Dake no Fan</h4>
            </div>
            <p>Chapter 1</p>
            <h5>Kirishimo</h5>
          </div>
        </div>
      </div>
      <div class="see-more">
        <button class="see-more-btn">See More</button>
      </div>
    </section> -->
    <!-- latest Section End -->

    <!-- All Mangas Section Start -->
    <!-- <section class="all-mangas">
      <h1>All Mangas</h1>
      <div class="search-sort-box">
        <div class="search-box">
          <form class="search-form">
            <i class='bx bx-search-alt-2'></i>
            <input type="text" placeholder="Search..." class="search-input" />
          </form>
        </div>
        <div class="sort-box">
          <label for="sort-select">Sort By:</label>
          <select id="sort-select" class="sort-select">
            <option value="default">Default</option>
            <option value="name">Name</option>
            <option value="price">Price</option>
            <option value="date">Date</option>
          </select>
        </div>
      </div>
      <div class="all-mangas-content">
        <div class="card">
          <div class="left-card">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right-card">
            <div class="genres">
              <span>Comedy</span>
              <span>Romance</span>
            </div>
            <h4>Damedol to Sekai ni Hitori Dake no Fan Damedol to Sekai ni Hitori Dake no Fan Damedol to Sekai ni Hitori Dake no Fan</h4>
            <div class="rating-chapter">
              <p><i class="bx bx-star"></i> 9.00</p>
              <p>Chapter 1</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="left-card">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right-card">
            <div class="genres">
              <span>Comedy</span>
              <span>Romance</span>
            </div>
            <h4>Damedol to Sekai ni Hitori Dake no Fan Damedol to Sekai ni Hitori Dake no Fan Damedol to Sekai ni Hitori Dake no Fan</h4>
            <div class="rating-chapter">
              <p><i class="bx bx-star"></i> 9.00</p>
              <p>Chapter 1</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="left-card">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right-card">
            <div class="genres">
              <span>Comedy</span>
              <span>Romance</span>
            </div>
            <h4>Damedol to Sekai ni Hitori ni Hitori Dake no Fan</h4>
            <div class="rating-chapter">
              <p><i class="bx bx-star"></i> 9.00</p>
              <p>Chapter 1</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="left-card">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right-card">
            <div class="genres">
              <span>Comedy</span>
              <span>Romance</span>
            </div>
            <h4>Damedol to Sekai ni Hitori Dake no Fan Damedol to Sekai ni Hitori Dake no Fan</h4>
            <div class="rating-chapter">
              <p><i class="bx bx-star"></i> 9.00</p>
              <p>Chapter 1</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="left-card">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right-card">
            <div class="genres">
              <span>Comedy</span>
              <span>Romance</span>
            </div>
            <h4>Damedol to Sekai ni Hitori Dake no Fan Damedol to Sekai ni Hitori Dake no Fan Damedol to Sekai ni Hitori Dake no Fan</h4>
            <div class="rating-chapter">
              <p><i class="bx bx-star"></i> 9.00</p>
              <p>Chapter 1</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="left-card">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right-card">
            <div class="genres">
              <span>Comedy</span>
              <span>Romance</span>
            </div>
            <h4>Damedol to Sekai ni Hitori Dake no Fan Damedol to Sekai ni Hitori Dake no Fan Damedol to Sekai ni Hitori Dake no Fan</h4>
            <div class="rating-chapter">
              <p><i class="bx bx-star"></i> 9.00</p>
              <p>Chapter 1</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="left-card">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right-card">
            <div class="genres">
              <span>Comedy</span>
              <span>Romance</span>
            </div>
            <h4>Damedol to Sekai ni Hitori Dake no Fan Damedol to Sekai ni Hitori Dake no Fan Damedol to Sekai ni Hitori Dake no Fan</h4>
            <div class="rating-chapter">
              <p><i class="bx bx-star"></i> 9.00</p>
              <p>Chapter 1</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="left-card">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right-card">
            <div class="genres">
              <span>Comedy</span>
              <span>Romance</span>
            </div>
            <h4>Damedol to Sekai ni Hitori Dake no Fan Damedol to Sekai ni Hitori Dake no Fan Damedol to Sekai ni Hitori Dake no Fan</h4>
            <div class="rating-chapter">
              <p><i class="bx bx-star"></i> 9.00</p>
              <p>Chapter 1</p>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination">
        <button>Previous</button>
        <span>1</span>
        <button>Next</button>
      </div>
    </section> -->
    <!-- All Mangas Section End -->
    
    <!-- Manga Detail Section Start -->
    <!-- <section class="manga-detail">
      <div class="manga-detail-content">
        <div class="card">
          <div class="left-card">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right-card">
            <div class="genres-status">
              <div class="genres">
                <span>Comedy</span>
                <span>Romance</span>
              </div>
              <div class="status">
                <i class='bx bxs-circle'></i>
                <span>Ongoing</span>
              </div>
            </div>
            <div class="title">
              <h4>Damedol to Sekai ni Hitori Dake no Fan Damedol to Sekai ni Hitori Dake no Fan Damedol to Sekai ni Hitori Dake no Fan Damedol to Sekai ni Hitori Dake no Fan</h4>
            </div>
            <div class="rating-chapter-year">
              <p><i class="bx bx-star"></i> 9.00</p>
              <p>|</p>
              <p>Latest Chapter : 1</p>
              <p>|</p>
              <p>Released : 2022</p>
            </div>
            <div class="description">
              <p>
                "Urumin" is an idol, but she can't sing or dance well, and she got a dishonest character. Kimiya is the only fan in the world who likes her. The relationship between the two of them is a little different from the usual
                relationships between idols and fans! This is a "precious" love comedy that depicts the daily life of a bad idol and the man who keeps on promoting her, and the way he loves her!
                relationships between idols and fans! This is a "precious" love comedy that depicts the daily life of a bad idol and the man who keeps on promoting her, and the way he loves her!
                relationships between idols and fans! This is a "precious" love comedy that depicts the daily life of a bad idol and the man who keeps on promoting her, and the way he loves her!
                relationships between idols and fans! This is a "precious" love comedy that depicts the daily life of a bad idol and the man who keeps on promoting her, and the way he loves her!
              </p>
            </div>
            <div class="bookmark-chapter">
              <a href="#"><i class="bx bx-bookmark"></i></a>
              <button>First Chapter</button>
              <button>Latest Chapter</button>
            </div>
          </div>
        </div>
      </div>
      <div class="manga-chapter-content">
        <div class="card">
          <div class="left-card">
            <h4>Chapter 0</h4>
            <p>June 6, 2023</p>
          </div>
          <div class="right-card">
            <p>Flame Scans</p>
          </div>
        </div>
      </div>
    </section> -->
    <!-- Manga Detail Section End -->

    <!-- Read Manga Section Start -->
    <!-- <section class="read-manga">
      <h1>Damedol to Sekai ni Hitori Dake no Fan</h1>
      <h2>Chapter 3</h2>
      <div class="read-manga-content">
        <div class="manga-image">
          <img src="./assets/chapter-page-3.png" alt="">
        </div>
      </div>
      <div class="pagination">
        <button>Previous</button>
        <span>1</span>
        <button>Next</button>
      </div>
    </section> -->
    <!-- Read Manga Section End -->

    <!-- My Library Section Start -->
    <section class="my-library">
      <h1>My Library</h1>
      <div class="my-library-content">
        <div class="card">
          <img src="./assets/cover-1.jpg" alt="" />
          <a class="wishlist">
            <i class="bx bx-trash"></i>
          </a>
        </div>
        <div class="card">
          <img src="./assets/cover-1.jpg" alt="" />
          <a class="wishlist">
            <i class="bx bx-trash"></i>
          </a>
        </div>
        <div class="card">
          <img src="./assets/cover-1.jpg" alt="" />
          <a class="wishlist">
            <i class="bx bx-trash"></i>
          </a>
        </div>
        <div class="card">
          <img src="./assets/cover-1.jpg" alt="" />
          <a class="wishlist">
            <i class="bx bx-trash"></i>
          </a>
        </div>
        <div class="card">
          <img src="./assets/cover-1.jpg" alt="" />
          <a class="wishlist">
            <i class="bx bx-trash"></i>
          </a>
        </div>
        <div class="card">
          <img src="./assets/cover-1.jpg" alt="" />
          <a class="wishlist">
            <i class="bx bx-trash"></i>
          </a>
        </div>
      </div>
    </section>
    <!-- My Library Section End -->

    <!-- Footer Section Start -->
    <section class="footer">
      <div class="footer-content">
        <h3>Created By Firkhie | Using Mangadex API</h3>
      </div>
    </section>
    <!-- Footer Section End -->

    <!-- Custom JS -->
    <script src="script.js"></script>
  </body>
</html>
