<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mangactiv</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css" />
    <!-- Boxicons -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
  </head>
  <body>
    <!-- Login Start -->
    <!-- <section class="login">
      <div class="login-content">
        <h2>Login</h2>
        <form id="login-form">
          <label for="login-email">Email</label>
          <input
						type="email"
						id="login-email"
						placeholder="Enter email address ..."
						autocomplete="off"
						required
					/>
          <label for="login-password">Password</label>
          <input
						type="password"
						id="login-password"
						placeholder="Enter password ..."
						autocomplete="off"
						required
					/>
          <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="#">Register here</a></p>
        <p>Or login with</p>
      </div>
    </section> -->
    <!-- Login End -->

    <!-- Register Start -->
    <!-- <section class="register">
      <div class="register-content">
        <h2>Register</h2>
        <form id="register-form">
          <label for="register-username">Username</label>
					<input
						type="text"
						id="register-username"
						placeholder="Enter username ..."
						autocomplete="off"
						required
					/>
          <label for="register-email">Email</label>
          <input
						type="email"
						id="register-email"
						placeholder="Enter email address ..."
						autocomplete="off"
						required
					/>
          <label for="register-password">Password</label>
          <input
						type="password"
						id="register-password"
						placeholder="Enter password ..."
						autocomplete="off"
						required
					/>
          <label for="register-phone">Phone Number</label>
					<input
						type="text"
						id="register-phone"
						placeholder="Enter phone number (optional) ..."
						autocomplete="off"
					/>
					<label for="register-address">Address</label>
					<textarea
						id="register-address"
						rows="3"
						placeholder="Enter your address (optional) ..."
						autocomplete="off"
					></textarea>
          <button type="submit">Register</button>
        </form>
      </div>
    </section> -->
    <!-- Register End -->

    <!-- Navbar Start -->
    <nav>
      <a href="" class="logo">Mangactiv</a>
      <ul class="navbar">
        <li><a href="#">Home</a></li>
        <li><a href="#">Login</a></li><a href="#">My Library</a>
        <li><a href="#">All Mangas</a></li>
        <li><a href="#">Donate</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </nav>
    <!-- Navbar End -->

    <!-- Hero Section Start -->
    <!-- <section class="hero">
      <div class="hero-content">
        <h1>Manga Reading Sites</h1>
        <img src="https://images5.alphacoders.com/128/1284718.jpg" alt="" />
      </div>
    </section> -->
    <!-- Hero Section End -->

    <!-- Popular Section Start -->
    <!-- <section class="popular">
      <h1>Popular New Titles</h1>
      <div class="popular-content">
        <div class="box">
          <div class="left">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right">
            <div class="genres">
              <span>Comedy</span>
              <span>Romance</span>
            </div>
            <h4>Damedol to Sekai ni Hitori Dake no Fan</h4>
            <h5>
              "Urumin" is an idol, but she can't sing or dance well, and she got a dishonest character. Kimiya is the only fan in the world who likes her. The relationship between the two of them is a little different from the usual
              relationships between idols and fans! This is a "precious" love comedy that depicts the daily life of a bad idol and the man who keeps on promoting her, and the way he loves her!
            </h5>
          </div>
          <div class="wishlist">
            <a href="#"><i class="bx bx-bookmark"></i></a>
          </div>
        </div>
        <div class="box">
          <div class="left">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right">
            <div class="genres">
              <span>Comedy</span>
              <span>Romance</span>
            </div>
            <h4>Damedol to Sekai ni Hitori Dake no Fan</h4>
            <h5>
              "Urumin" is an idol, but she can't sing or dance well, and she got a dishonest character. Kimiya is the only fan in the world who likes her. The relationship between the two of them is a little different from the usual
              relationships between idols and fans! This is a "precious" love comedy that depicts the daily life of a bad idol and the man who keeps on promoting her, and the way he loves her!
            </h5>
          </div>
          <div class="wishlist">
            <a href="#"><i class="bx bx-bookmark"></i></a>
          </div>
        </div>
      </div>
    </section> -->
    <!-- Popular Section End -->

    <!-- latest Section Start -->
    <!-- <section class="latest">
      <h1>Latest Updates</h1>
      <div class="latest-content">
        <div class="box">
          <div class="left">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right">
            <h4>Damedol to Sekai ni Hitori Dake no Fan</h4>
            <p>Chapter 1</p>
            <h5>Kirishimo</h5>
          </div>
        </div>
        <div class="box">
          <div class="left">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right">
            <h4>Damedol to Sekai ni Hitori Dake no Fan</h4>
            <p>Chapter 1</p>
            <h5>Kirishimo</h5>
          </div>
        </div>
        <div class="box">
          <div class="left">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right">
            <h4>Damedol to Sekai ni Hitori Dake no Fan</h4>
            <p>Chapter 1</p>
            <h5>Kirishimo</h5>
          </div>
        </div>
        <div class="box">
          <div class="left">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right">
            <h4>Damedol to Sekai ni Hitori Dake no Fan</h4>
            <p>Chapter 1</p>
            <h5>Kirishimo</h5>
          </div>
        </div>
        <div class="box">
          <div class="left">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right">
            <h4>Damedol to Sekai ni Hitori Dake no Fan</h4>
            <p>Chapter 1</p>
            <h5>Kirishimo</h5>
          </div>
        </div>
        <div class="box">
          <div class="left">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right">
            <h4>Damedol to Sekai ni Hitori Dake no Fan</h4>
            <p>Chapter 1</p>
            <h5>Kirishimo</h5>
          </div>
        </div>
      </div>
      <button class="see-more">See More</button>
    </section> -->
    <!-- latest Section End -->

    <!-- Mangas Section Start -->
    <!-- <section class="mangas">
      <h1>All Mangas</h1>
      <div class="search-sort-box">
        <div class="search">
          <form class="search-form">
            <input type="text" placeholder="Search..." class="search-input" />
            <button type="submit" class="search-button">Search</button>
          </form>
        </div>
        <div class="sort">
          <label for="sort-select">Sort By:</label>
          <select id="sort-select" class="sort-select">
            <option value="default">Default</option>
            <option value="name">Name</option>
            <option value="price">Price</option>
            <option value="date">Date</option>
          </select>
        </div>
      </div>
      <div class="mangas-content">
        <div class="box">
          <div class="left">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right">
            <div class="genres">
              <span>Comedy</span>
              <span>Romance</span>
            </div>
            <h4>Damedol to Sekai ni Hitori Dake no Fan</h4>
            <div class="rating">
              <p><i class="bx bx-star"></i></p>
              <p>9.00</p>
            </div>
          </div>
          <div class="wishlist">
            <a href="#"><i class="bx bx-bookmark"></i></a>
          </div>
        </div>
        <div class="box">
          <div class="left">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right">
            <div class="genres">
              <span>Comedy</span>
              <span>Romance</span>
            </div>
            <h4>Damedol to Sekai ni Hitori Dake no Fan</h4>
            <div class="rating">
              <p><i class="bx bx-star"></i></p>
              <p>9.00</p>
            </div>
          </div>
          <div class="wishlist">
            <a href="#"><i class="bx bx-bookmark"></i></a>
          </div>
        </div>
        <div class="box">
          <div class="left">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right">
            <div class="genres">
              <span>Comedy</span>
              <span>Romance</span>
            </div>
            <h4>Damedol to Sekai ni Hitori Dake no Fan</h4>
            <div class="rating">
              <p><i class="bx bx-star"></i></p>
              <p>9.00</p>
            </div>
          </div>
          <div class="wishlist">
            <a href="#"><i class="bx bx-bookmark"></i></a>
          </div>
        </div>
        <div class="box">
          <div class="left">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right">
            <div class="genres">
              <span>Comedy</span>
              <span>Romance</span>
            </div>
            <h4>Damedol to Sekai ni Hitori Dake no Fan</h4>
            <div class="rating">
              <p><i class="bx bx-star"></i></p>
              <p>9.00</p>
            </div>
          </div>
          <div class="wishlist">
            <a href="#"><i class="bx bx-bookmark"></i></a>
          </div>
        </div>
        <div class="box">
          <div class="left">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right">
            <div class="genres">
              <span>Comedy</span>
              <span>Romance</span>
            </div>
            <h4>Damedol to Sekai ni Hitori Dake no Fan</h4>
            <div class="rating">
              <p><i class="bx bx-star"></i></p>
              <p>9.00</p>
            </div>
          </div>
          <div class="wishlist">
            <a href="#"><i class="bx bx-bookmark"></i></a>
          </div>
        </div>
        <div class="box">
          <div class="left">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right">
            <div class="genres">
              <span>Comedy</span>
              <span>Romance</span>
            </div>
            <h4>Damedol to Sekai ni Hitori Dake no Fan</h4>
            <div class="rating">
              <p><i class="bx bx-star"></i></p>
              <p>9.00</p>
            </div>
          </div>
          <div class="wishlist">
            <a href="#"><i class="bx bx-bookmark"></i></a>
          </div>
        </div>
        <div class="box">
          <div class="left">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right">
            <div class="genres">
              <span>Comedy</span>
              <span>Romance</span>
            </div>
            <h4>Damedol to Sekai ni Hitori Dake no Fan</h4>
            <div class="rating">
              <p><i class="bx bx-star"></i></p>
              <p>9.00</p>
            </div>
          </div>
          <div class="wishlist">
            <a href="#"><i class="bx bx-bookmark"></i></a>
          </div>
        </div>
        <div class="box">
          <div class="left">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right">
            <div class="genres">
              <span>Comedy</span>
              <span>Romance</span>
            </div>
            <h4>Damedol to Sekai ni Hitori Dake no Fan</h4>
            <div class="rating">
              <p><i class="bx bx-star"></i></p>
              <p>9.00</p>
            </div>
          </div>
          <div class="wishlist">
            <a href="#"><i class="bx bx-bookmark"></i></a>
          </div>
        </div>
      </div>
      <div class="pagination">
        <button>Previous</button>
        <span>1</span>
        <button>Next</button>
      </div>
    </section> -->
    <!-- Mangas Section End -->

    <!-- Manga Detail Section Start -->
    <!-- <section class="manga-detail">
      <div class="manga-detail-content">
        <div class="box">
          <div class="left">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right">
            <div class="genres">
              <span>Comedy</span>
              <span>Romance</span>
            </div>
            <h4>Damedol to Sekai ni Hitori Dake no Fan</h4>
            <h5>
              "Urumin" is an idol, but she can't sing or dance well, and she got a dishonest character. Kimiya is the only fan in the world who likes her. The relationship between the two of them is a little different from the usual
              relationships between idols and fans! This is a "precious" love comedy that depicts the daily life of a bad idol and the man who keeps on promoting her, and the way he loves her!
            </h5>
            <div class="detail-button">
              <a href="#"><i class="bx bx-bookmark"></i></a>
              <button>First Chapter</button>
              <button>Latest Chapter</button>
            </div>
          </div>
        </div>
      </div>
      <div class="manga-chapter-content">
        <div class="box">
          <div class="left">
            <h4>Chapter 0</h4>
            <p>June 6, 2023</p>
          </div>
          <div class="right">
            <p>Flame Scans</p>
          </div>
        </div>
        <div class="box">
          <div class="left">
            <h4>Chapter 0</h4>
            <p>June 6, 2023</p>
          </div>
          <div class="right">
            <p>Flame Scans</p>
          </div>
        </div>
        <div class="box">
          <div class="left">
            <h4>Chapter 0</h4>
            <p>June 6, 2023</p>
          </div>
          <div class="right">
            <p>Flame Scans</p>
          </div>
        </div>
        <div class="box">
          <div class="left">
            <h4>Chapter 0</h4>
            <p>June 6, 2023</p>
          </div>
          <div class="right">
            <p>Flame Scans</p>
          </div>
        </div>
        <div class="box">
          <div class="left">
            <h4>Chapter 0</h4>
            <p>June 6, 2023</p>
          </div>
          <div class="right">
            <p>Flame Scans</p>
          </div>
        </div>
        <div class="box">
          <div class="left">
            <h4>Chapter 0</h4>
            <p>June 6, 2023</p>
          </div>
          <div class="right">
            <p>Flame Scans</p>
          </div>
        </div>
        <div class="box">
          <div class="left">
            <h4>Chapter 0</h4>
            <p>June 6, 2023</p>
          </div>
          <div class="right">
            <p>Flame Scans</p>
          </div>
        </div>
        <div class="box">
          <div class="left">
            <h4>Chapter 0</h4>
            <p>June 6, 2023</p>
          </div>
          <div class="right">
            <p>Flame Scans</p>
          </div>
        </div>
        <div class="box">
          <div class="left">
            <h4>Chapter 0</h4>
            <p>June 6, 2023</p>
          </div>
          <div class="right">
            <p>Flame Scans</p>
          </div>
        </div>
        <div class="box">
          <div class="left">
            <h4>Chapter 0</h4>
            <p>June 6, 2023</p>
          </div>
          <div class="right">
            <p>Flame Scans</p>
          </div>
        </div>
        <div class="box">
          <div class="left">
            <h4>Chapter 0</h4>
            <p>June 6, 2023</p>
          </div>
          <div class="right">
            <p>Flame Scans</p>
          </div>
        </div>
        <div class="box">
          <div class="left">
            <h4>Chapter 0</h4>
            <p>June 6, 2023</p>
          </div>
          <div class="right">
            <p>Flame Scans</p>
          </div>
        </div>
      </div>
    </section> -->
    <!-- Manga Detail Section End -->

    <!-- Read Manga Section Start -->
    <!-- <section class="read-manga">
      <h1>Damedol to Sekai ni Hitori Dake no Fan</h1>
      <h2>Chapter 3</h2>
      <div class="read-manga-content">
        <div class="manga-image">
          <img src="./assets/chapter-page-3.png" alt="">
        </div>
      </div>
      <div class="pagination">
        <button>Previous</button>
        <span>1</span>
        <button>Next</button>
      </div>
    </section> -->
    <!-- Read Manga Section End -->

    <!-- My Library Section Start -->
    <!-- <section class="mylibrary">
      <h1>My Library</h1>
      <div class="mylibrary-content">
        <div class="box">
          <div class="left">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right">
            <div class="genres">
              <span>Comedy</span>
              <span>Romance</span>
            </div>
            <h4>Damedol to Sekai ni Hitori Dake no Fan</h4>
            <h5>
              "Urumin" is an idol, but she can't sing or dance well, and she got a dishonest character. Kimiya is the only fan in the world who likes her. The relationship between the two of them is a little different from the usual
              relationships between idols and fans! This is a "precious" love comedy that depicts the daily life of a bad idol and the man who keeps on promoting her, and the way he loves her!
            </h5>
          </div>
          <div class="wishlist">
            <a href="#"><i class="bx bx-trash"></i></a>
          </div>
        </div>
        <div class="box">
          <div class="left">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right">
            <div class="genres">
              <span>Comedy</span>
              <span>Romance</span>
            </div>
            <h4>Damedol to Sekai ni Hitori Dake no Fan</h4>
            <h5>
              "Urumin" is an idol, but she can't sing or dance well, and she got a dishonest character. Kimiya is the only fan in the world who likes her. The relationship between the two of them is a little different from the usual
              relationships between idols and fans! This is a "precious" love comedy that depicts the daily life of a bad idol and the man who keeps on promoting her, and the way he loves her!
            </h5>
          </div>
          <div class="wishlist">
            <a href="#"><i class="bx bx-trash"></i></a>
          </div>
        </div>
        <div class="box">
          <div class="left">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right">
            <div class="genres">
              <span>Comedy</span>
              <span>Romance</span>
            </div>
            <h4>Damedol to Sekai ni Hitori Dake no Fan</h4>
            <h5>
              "Urumin" is an idol, but she can't sing or dance well, and she got a dishonest character. Kimiya is the only fan in the world who likes her. The relationship between the two of them is a little different from the usual
              relationships between idols and fans! This is a "precious" love comedy that depicts the daily life of a bad idol and the man who keeps on promoting her, and the way he loves her!
            </h5>
          </div>
          <div class="wishlist">
            <a href="#"><i class="bx bx-trash"></i></a>
          </div>
        </div>
        <div class="box">
          <div class="left">
            <img src="./assets/cover-1.jpg" alt="" />
          </div>
          <div class="right">
            <div class="genres">
              <span>Comedy</span>
              <span>Romance</span>
            </div>
            <h4>Damedol to Sekai ni Hitori Dake no Fan</h4>
            <h5>
              "Urumin" is an idol, but she can't sing or dance well, and she got a dishonest character. Kimiya is the only fan in the world who likes her. The relationship between the two of them is a little different from the usual
              relationships between idols and fans! This is a "precious" love comedy that depicts the daily life of a bad idol and the man who keeps on promoting her, and the way he loves her!
            </h5>
          </div>
          <div class="wishlist">
            <a href="#"><i class="bx bx-trash"></i></a>
          </div>
        </div>
      </div>
    </section> -->
    <!-- My Library Section End -->

    <!-- Donation Start -->
    <!-- <section class="donation">
      <div class="donation-content">
        <h2>Donate Now</h2>
        <form id="donation-form">
          <label for="donation-name">Name</label>
					<input
						type="text"
						id="donation-name"
						placeholder="Enter name ..."
						autocomplete="off"
						required
					/>
          <label for="donation-email">Email</label>
          <input
						type="email"
						id="donation-email"
						placeholder="Enter email address ..."
						autocomplete="off"
						required
					/>
          <label for="donation-phone">Phone Number</label>
					<input
						type="text"
						id="donation-phone"
						placeholder="Enter phone number (optional) ..."
						autocomplete="off"
					/>
          <div class="donation-box">
            <label>Pilih Jumlah Donasi:</label><br>
            <button type="submit" name="donation" value="10000">Rp 10.000</button>
            <button type="submit" name="donation" value="20000">Rp 20.000</button>
            <button type="submit" name="donation" value="50000">Rp 50.000</button>
            <button type="submit" name="donation" value="100000">Rp 100.000</button>
          </div>
          <label for="donation-money">Other</label>
					<input
						type="text"
						id="donation-money"
						placeholder="Enter money ..."
						autocomplete="off"
					/>
          <button type="submit">Donate</button>
        </form>
      </div>
    </section> -->
    <!-- Donation End -->

    <!-- Footer Section Start -->
    <!-- <section class="footer">
      <div class="footer-content">
        <div class="contact-box">
          <li><a href="#">Shop</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Faq</a></li>
          <li><a href="#">Contact</a></li>
        </div>
        <div class="contact-box">
          <li><a href="#">Shipping & Returns</a></li>
          <li><a href="#">Store Policy</a></li>
          <li><a href="#">Payment Methods</a></li>
        </div>
        <div class="contact-box">
          <li><a href="#">Contact</a></li>
          <li><a href="#">+62 123-4567-7891</a></li>
        </div>
        <div class="contact-box">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Pinterest</a></li>
        </div>
      </div>
      <div class="action">
        <form>
          <input type="email" name="email" placeholder="Your Email" />
          <input type="submit" name="submit" value="Submit" />
        </form>
      </div>
    </section> -->
    <!-- Footer Section End -->
  </body>
</html>
