* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --orange-color: #FFA500;
  --grey-color: #424242;
  --bg-color: #ffffff;
  --text-color: #121212;
  --hover-text-color: #8f8f8f;
  --main-font: 1.8rem;
  --p-font: 1.1rem;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

/* Navbar Section Start */
header {
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  position: fixed;
  background-color: var(--bg-color);
  box-shadow: 0px 2px 18px 0 rgb(129 126 182 / 20%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 8%;
  transition: 0.3s;
}

section {
  padding: 25px 100px;
}

.logo {
  color: var(--text-color);
  font-size: var(--main-font);
  font-weight: 500;
  line-height: 0.8;
}

.navbar {
  display: flex;
  gap: 1rem;
}

.navbar a {
  font-size: var(--p-font);
  color: var(--text-color);
}

.navbar a:hover {
  color: var(--hover-text-color);
}
/* Navbar Section End */




/* Login, Register, Donation Section Start */
.login,
.register,
.donation {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: var(--bg-color);
}

.login-content,
.register-content,
.donation-content {
  display: flex;
  flex-direction: column;
  background: transparent;
  box-shadow: 5px 30px 56.1276px rgba(0, 0, 0, 0.12);
  padding: 45px 35px;
  border-radius: 7px;
}

.login-content {
  width: 380px;
  height: 500px;
}

.register-content {
  width: 400px;
  height: 500px;
}

.donation-content {
  width: 400px;
  height: 500px;
}

.login-content form,
.register-content form,
.donation-content form {
  display: flex;
  flex-direction: column;
}

.login-content h2,
.register-content h2 {
  text-align: center;
  margin-bottom: 50px;
}

.donation-content h2 {
  text-align: center;
  margin-bottom: 20px;
}

#login-form label,
#register-form label,
#donation-form label {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 500;
}

#login-form input,
#register-form input,
#donation-form input {
  border: none;
  outline: none;
  font-size: 15px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid black;
}

#register-form textarea {
  outline: none;
  padding: 10px;
  font-size: 15px;
}

#login-form button,
#register-form button,
#donation-form button {
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
  padding: 12px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  background: #e4e4e4;
}

#login-form button:hover,
#register-form button:hover,
#donation-form button:hover {
  background: var(--hover-text-color);
  color: var(--bg-color);
}

.login-content p {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}

.donation-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  margin-bottom: 0.7rem;
}

.donation-box button {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
/* Sign In Section End */





/* Hero Section Start */
.hero {
  height: 320px;
  width: 100%;
  position: relative;
  margin-top: 100px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.hero-content img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-content h1 {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 30px 60px;
  background-color: rgba(0, 0, 0, 0.5);
}
/* Hero Section End */




/* Popular Section Start */
.popular h1,
.latest h1 {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 4rem;
  font-size: 40px;
}

.popular-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  text-align: center;
  cursor: pointer;
  margin-top: 3.5rem;
}

.popular-content .box {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 300px;
  background: transparent;
  box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
  border-radius: 10px;
  position: relative;
  transition: all .35s ease;
}

.popular-content .box .left {
  flex: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-content .box .right {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #2a2a2a;
  color: var(--bg-color);
  text-align: left;
  padding: 20px;
  overflow: hidden;
}

.popular-content .box .left img {
  width: 200px;
  height: 300px;
}

.popular-content .box .right .genres {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.popular-content .box .right span {
  padding: 5px;
  background: #515151;
  border-radius: 5px;
  font-size: 14px;
  width: fit-content;
}

.popular-content .box .right h4 {
  font-size: 25px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 2px;
}

.popular-content .box .right h5 {
  font-size: 14px;
  font-weight: 400;
}

.popular-content .box .wishlist i {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: var(--text-color);
  color: var(--bg-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.popular-content .box .wishlist i.bx-trash:hover  {
  color: red;
}

.popular-content .box:hover {
  transform: translateY(-5px);
}
/* Popular Section End */




/* Latest Section Start */
.latest-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 2rem;
  text-align: center;
  cursor: pointer;
  margin-top: 3.5rem;
}

.latest-content .box {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 150px;
  background: transparent;
  box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
  border-radius: 10px;
  position: relative;
  transition: all .35s ease;
}

.latest-content .box .left {
  flex: 0.25;
  display: flex;
  justify-content: center;
  align-items: center;
}

.latest-content .box .right {
  flex: 0.75;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #2a2a2a;
  color: var(--bg-color);
  text-align: left;
  padding: 10px;
}

.latest-content .box .left img {
  width: 100px;
  height: 150px;
}

.latest-content .box .right h4 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 13px;
}

.latest-content .box .right p {
  margin-bottom: 29px;
}

.latest-content .box .right h5 {
  font-size: 14px;
  font-weight: 400;
}

.latest-content .box:hover {
  transform: translateY(-5px);
}

.latest .see-more {
  display: block;
  margin-top: 2rem;
  border: none;
  outline: none;
  padding: 15px 30px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  color: var(--bg-color);
  background: #2A2A2A;
}

.latest .see-more:hover {
  color: var(--text-color);
  background: #c1c1c1;
}
/* Latest Section End */




/* Mangas Section Start */
.mangas h1,
.read-manga h1,
.mylibrary h1 {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 6.8rem;
  font-size: 40px;
}

.search-sort-box {
  margin-top: 3.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.search-sort-box .search {
  width: 100%;
}

.search-sort-box .search form input {
  width: 89.6%;
  padding: 12px;
  background-color: #d2d2d2;
  border: none;
  border-radius: 4px;
  color: var(--text-color);
  font-size: 16px;
}

.search-sort-box .search form button {
  width: 10%;
  padding: 12px;
  background-color: #2A2A2A;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}

.search-sort-box .search form button:hover {
  background: #515151;
}

.sort {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sort label {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  font-size: 16px;
  color: var(--text-color);
  font-weight: 600;
}

.sort-select {
  padding: 12px;
  background-color: #d2d2d2;
  border: none;
  width: 250px;
  border-radius: 4px;
  color: var(--text-color);
  font-size: 16px;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath d='M0 3l6 6 6-6z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 8px center;
}

.mangas-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  text-align: center;
  cursor: pointer;
  margin-top: 3.5rem;
}

.mangas-content .box {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 185px;
  background: transparent;
  box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
  border-radius: 10px;
  position: relative;
  transition: all .35s ease;
}

.mangas-content .box .left {
  flex: 0.15;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mangas-content .box .right {
  flex: 0.85;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #2a2a2a;
  color: var(--bg-color);
  text-align: left;
  padding: 20px;
}

.mangas-content .box .left img {
  width: 120px;
  height: 185px;
}

.mangas-content .box .right .genres {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.mangas-content .box .right span {
  padding: 5px;
  background: #515151;
  border-radius: 5px;
  font-size: 14px;
  width: fit-content;
}

.mangas-content .box .right h4 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 2px;
}

.mangas-content .box .right .rating {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  margin-top: 1rem;
}

.mangas-content .box .right .rating p {
  font-size: 14px;
  font-weight: 400;
}

.mangas-content .box .wishlist i {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: var(--text-color);
  color: var(--bg-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.mangas-content .box .wishlist i.bx-bookmark:hover  {
  color: yellow;
}

.mangas-content .box:hover {
  transform: translateY(-5px);
}

.mangas .pagination {
  margin-top: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
}

.mangas .pagination span {
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  background: #c1c1c1;
}

.mangas .pagination button {
  border: none;
  outline: none;
  width: 120px;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: var(--bg-color);
  background: #2A2A2A;
  cursor: pointer;
}

.mangas .pagination button:hover {
  background: #515151;
}
/* Mangas Section End */




/* Read Manga Section Start */
.read-manga h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 25px;
}

.read-manga-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.manga-image {
  max-width: 50%;
  max-height: 50%;
}

.manga-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.read-manga .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  margin-top: 1rem;
}

.read-manga .pagination span {
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  background: #c1c1c1;
}

.read-manga .pagination button {
  border: none;
  outline: none;
  width: 120px;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: var(--bg-color);
  background: #2A2A2A;
  cursor: pointer;
}

.read-manga .pagination button:hover {
  background: #515151;
}
/* Read Manga Section End */




/* Manga Detail Section Start */
.manga-detail-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6.5rem;
}

.manga-detail-content .box {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 450px;
  background: transparent;
  box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
  border-radius: 10px;
  position: relative;
  transition: all .35s ease;
}

.manga-detail-content .box .left {
  flex: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manga-detail-content .box .right {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #2a2a2a;
  color: var(--bg-color);
  text-align: left;
  padding: 20px;
}

.manga-detail-content .box .left img {
  width: 300px;
  height: 450px;
}

.manga-detail-content .box .right .genres {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.manga-detail-content .box .right span {
  padding: 5px;
  background: #515151;
  border-radius: 5px;
  font-size: 14px;
  width: fit-content;
}

.manga-detail-content .box .right h4 {
  font-size: 30px;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.manga-detail-content .box .right h5 {
  font-size: 16px;
  font-weight: 400;
}

.manga-detail-content .box .right .detail-button {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.manga-detail-content .box .right .detail-button i {
  padding: 10px;
  font-size: 25px;
  color: var(--text-color);
  background: #EFEFEF;
  cursor: pointer;
}

.manga-detail-content .box .right .detail-button i:hover {
  color: var(--bg-color);
  background: #fbe927;
}

.manga-detail-content .box .right .detail-button button {
  border: none;
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.manga-detail-content .box .right .detail-button button:hover {
  background: #626262;
  color: var(--bg-color);
}

.manga-chapter-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.manga-chapter-content .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 80px;
  box-shadow: 5px 30px 56.1276px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: all .2s ease;
}

.manga-chapter-content .box:hover {
  background-color: #c1c1c1;
}

.manga-chapter-content .box .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.manga-chapter-content .box .right {
  padding: 30px;
}
/* Manga Detail Section End */




/* My Library Section Start */
.mylibrary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mylibrary-content {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  align-items: center;
  gap: 2rem;
  text-align: center;
  cursor: pointer;
  margin-top: 3.5rem;
}

.mylibrary-content .box {
  overflow: hidden;
  width: 200;
  height: 300px;
  background: transparent;
  box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
  position: relative;
  transition: all .35s ease;
}

.mylibrary-content .box img {
  width: 200px;
  height: 300px;
}

.mylibrary-content .box .wishlist i {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: var(--text-color);
  color: var(--bg-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.mylibrary-content .box .wishlist i.bx-trash:hover  {
  color: red;
}

.mylibrary-content .box:hover {
  transform: translateY(-5px);
}
/* My Library Section End */





/* Footer Section Start */
.footer {
  padding: 80px 17%;
  background: var(--text-color);
  margin-top: 6.5rem;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 2rem;
  margin-bottom: 3rem;
}

.contact-box li {
  margin-bottom: 15px;
}

.contact-box li a {
  display: block;
  color: var(--bg-color);
  font-size: 15px;
  font-weight: 400;
}

.action form {
  text-align: center;
}

.action form input[type='email'] {
  width: 460px;
  max-width: 100%;
  padding: 12px 15px;
  background: #515151;
  color: var(--bg-color);
  border: none;
  outline: none;
  margin: 0px 10px 20px 0;
  font-size: 15px;
  font-weight: 400;
}

.action form input[type='submit'] {
  padding: 10px 35px;
  background: var(--bg-color);
  color: var(--text-color);
  border: none;
  outline: none;
  margin: 0px 10px 20px 0;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}
/* Footer Section End */